body {
    margin: auto;
    width: auto;
    padding: 0;
}
h1 {
    text-align: center;
}
canvas {
    margin: auto;
    padding: 0;
    position: relative;
    display: block;
}
.controls {
    position: absolute;
    top: 20px;
    left: 20px;
}
