body {
    margin: auto;
    width: auto;
    padding: 0;
}
div {
    width: 400px;
    margin: 0 auto;
    position: relative;
}
h1 {
    text-align: center;
}
canvas {
    margin: auto;
    padding: 0;
}
